**/bin/
**/obj/
**/packages/
**/publish/

# IDEs
/.idea/
**/.vs/
_ReSharper.Caches/
riderModule.iml
*.DotSettings.user
*.user

# Godot
**/.godot/
**/android/

# Local machine configuration
**/Directory.Build.props